---
// Landing page for docs
---
<html>
<head><title>aathu-lang Documentation</title></head>
<body>
  <h1>aathu-lang Documentation</h1>
  <p>Welcome to the aathu-lang documentation.</p>
</body>
</html>
